html(ng-app="demoApp")
  head    
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body(ng-controller="UsersController")
    nav.navbar.navbar-default.pull-right
      ul.nav.navbar-nav
        li 
          a(href="#/") Home
        li 
          a(href="#/users") Users
    div(ng-view)
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js')
  script(src='/static/app.js')